# Requirements installed on RPi
# requests
# pytz
# adafruit-blinka
# adafruit-circuitpython-dht
pyyaml

# Graphing packages
dash==1.14.0
pandas
# pandas is needed but will install via python3-pandas on raspbian