<html>
 <body>
  <h1>Include-Beer!</h1>
  <!--<p>
  <table>
   <tr align=left valign=top>
    <td width=200>
     <p>
      Current Specs:<br/>
      Time: {{ timeStamp }}<br/>
      Beer: {{ beerName }}<br/>
      Stage: {{ action }}<br/>
      Min Temp: {{ minFermTemp }}<br/>
      Max Temp: {{ maxFermTemp }}
     </p>
    </td>
    <td width=200>
     <p>
      Sensors:<br/>
      Vessel Probe Temp: {{ pTemp }}<br/>
      Ambient Temp: {{ ambTemp }}<br/>
      Ambient Humidity: {{ ambHumidity }}<br/>
     </p>
    </td>
   </tr>
  </table>
  </p>
  <p>{{ content|safe }}</p>-->
  <p>Current Dir: {{ current_dir }}</p>
  <p>Brew Sessions
    
    {% for session in sessions %}
    
    <ol>{{ session.name }} - stats: <a href="/stats/{{ session.id }}">See Stats</a></ol>
    {% endfor %}
  </p>
  <p>Default Values
    {% for key, value in defaults.items() %}
    <ul>{{ key }} : {{ value }}</ul>
    {% endfor %}
    </p>
 </body>
</html>
